BODY { color : Black; font-size : 12px; font-family : Tahoma; font-weight : normal; margin-left : 10px; margin-right : 10px; background-color : #D3D3D3; }
BIG{ color : Black; font-size : 12px ;font-family : Tahoma; font-weight : normal; }
A { font-size : 12px; color : Blue; text-decoration : none;font-family : Tahoma; font-weight : normal;}
A:Hover{ font-size : 12px; color : Blue;font-weight : normal; font-family : Tahoma; text-decoration : underline; }
H1{ font-family : Tahoma; font-size : 12px; font-weight : normal; margin-left : 30px; }
H2{ font-family : Tahoma; font-size : 12px; font-weight : bold; text-align : center; }
H3{ font-family : Tahoma;font-size : 14px ;font-weight : bold;text-align : center; }

.menucls {
	background: White;
	border: 1px solid Black;
	font-family : Tahoma;
	font-size : 14px;
	font-weight : bold;
	padding-left : 0px;
	padding-right : 0px;
	padding-top : 0px;
}

.tablecls {
	background: White;
	border: 1px solid Black;
	font-family : Tahoma;
	font-size : 12px;
	font-weight : normal;
	text-align: left;
	padding-left : 0px;
	padding-right : 0px;
	padding-top : 0px;
	padding-bottom : 5px;
	vertical-align : top;
}

.tableheadercls {
	background-color: #B0C4DE;
	font-family: Tahoma;
	font-size: 14px;
	font-weight: bold;
}

.textcls {
	background: White;
	font-family : Tahoma;
	font-size : 12px;
	font-weight : normal;
	padding-left : 10px;
	padding-right : 10px;
	padding-top : 10px;
	padding-bottom : 10px;
	text-align: left;
	vertical-align : top;
}
